body {
  font-family: sans-serif;
  margin: 0;
  font-size: 25px;
  line-height: 35px;
}

hr {
  width: 900px;
  size: 8px;
}

header {
  color: white;
  padding: 250px 0;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-position: center center;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-size: 35px;
  font-weight: 400;
}

.intro {
  width: 900px;
  margin: 50px auto;
  text-align: center;
}

.intro img {
  display: block;
  margin: 50px auto;
  padding: 0;
}

.ingredients {
  width: 900px;
  margin: 50px auto;
  text-align: left;
}

.ingredients img {
  display: block;
  margin: 50px auto;
  padding: 0;
}

.steps {
  width: 1050px;
  margin: 50px auto;
  text-align: left;
}

ul {
  list-style-type: '- ';
}

ol li {
  list-style: none;
  counter-increment: item-index;
}

ol li:before {
  content: counter(item-index) ') ';
}
